/* TODO: delete set dimensions */
.calculator-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

button {
  border: 1px solid #d1d1d1;
  background-color: #e0e0e0;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.all-btns {
  display: flex;
  background-color: #777;
}

.g-btns {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.special-container {
  display: flex;
  height: 45px;
}

.special-container button {
  flex: 1 1;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  height: 180px;
}

.numbers-container .w-3 {
  flex: 1 1 70px;
}

.numbers-container .w-6 {
  flex: 2 1 140px;
}

.basic-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 225px;
}

.basic-container button {
  flex: 1 1;
  background-color: #f5913e;
}

.result {
  background-color: #858694;
  width: 300px;
  height: 35px;
  color: white;
  text-align: right;
  align-content: center;
  padding: 8px;
  font-size: 18px;
}

ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding: 0;
  width: 200px;
}

li {
  padding: 4px;
  border-left: #858694;
}

a {
  text-decoration: none;
  color: black;
}
